//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 13 23:02:44 2018
//! **************************************************************************

SCHEMATIC START;
COMP "de" LOCATE = SITE "U16" LEVEL 1;
COMP "clk" LOCATE = SITE "AB12" LEVEL 1;
COMP "rst" LOCATE = SITE "H5" LEVEL 1;
COMP "segment<0>" LOCATE = SITE "B9" LEVEL 1;
COMP "segment<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "segment<2>" LOCATE = SITE "F9" LEVEL 1;
COMP "segment<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "segment<4>" LOCATE = SITE "B8" LEVEL 1;
COMP "segment<5>" LOCATE = SITE "D8" LEVEL 1;
COMP "segment<6>" LOCATE = SITE "E8" LEVEL 1;
COMP "segment<7>" LOCATE = SITE "A7" LEVEL 1;
COMP "RSTB" LOCATE = SITE "U14" LEVEL 1;
PIN RSTB_pin<0> = BEL "RSTB" PINNAME PAD;
PIN "RSTB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "lcd_clk" LOCATE = SITE "V16" LEVEL 1;
COMP "start" LOCATE = SITE "G5" LEVEL 1;
COMP "data_out<10>" LOCATE = SITE "AA18" LEVEL 1;
COMP "data_out<11>" LOCATE = SITE "AB18" LEVEL 1;
COMP "data_out<12>" LOCATE = SITE "V17" LEVEL 1;
COMP "data_out<13>" LOCATE = SITE "W17" LEVEL 1;
COMP "data_out<14>" LOCATE = SITE "Y17" LEVEL 1;
COMP "data_out<15>" LOCATE = SITE "AA17" LEVEL 1;
COMP "key_in<0>" LOCATE = SITE "V19" LEVEL 1;
COMP "key_in<1>" LOCATE = SITE "W21" LEVEL 1;
COMP "key_in<2>" LOCATE = SITE "U19" LEVEL 1;
COMP "key_in<3>" LOCATE = SITE "V22" LEVEL 1;
COMP "dig<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "dig<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "dig<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "dig<3>" LOCATE = SITE "B6" LEVEL 1;
COMP "dig<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "dig<5>" LOCATE = SITE "D6" LEVEL 1;
COMP "data_out<0>" LOCATE = SITE "W14" LEVEL 1;
COMP "data_out<1>" LOCATE = SITE "AB13" LEVEL 1;
COMP "data_out<2>" LOCATE = SITE "V18" LEVEL 1;
COMP "data_out<3>" LOCATE = SITE "Y16" LEVEL 1;
COMP "data_out<4>" LOCATE = SITE "AA20" LEVEL 1;
COMP "data_out<5>" LOCATE = SITE "AB20" LEVEL 1;
COMP "data_out<6>" LOCATE = SITE "AA19" LEVEL 1;
COMP "data_out<7>" LOCATE = SITE "AB19" LEVEL 1;
COMP "data_out<8>" LOCATE = SITE "W18" LEVEL 1;
COMP "data_out<9>" LOCATE = SITE "Y18" LEVEL 1;
COMP "key_scan<0>" LOCATE = SITE "Y22" LEVEL 1;
COMP "key_scan<1>" LOCATE = SITE "W19" LEVEL 1;
COMP "key_scan<2>" LOCATE = SITE "W20" LEVEL 1;
COMP "key_scan<3>" LOCATE = SITE "V20" LEVEL 1;
COMP "LEDs<10>" LOCATE = SITE "V13" LEVEL 1;
COMP "LEDs<11>" LOCATE = SITE "V14" LEVEL 1;
COMP "LEDs<20>" LOCATE = SITE "M6" LEVEL 1;
COMP "LEDs<12>" LOCATE = SITE "W16" LEVEL 1;
COMP "LEDs<21>" LOCATE = SITE "N1" LEVEL 1;
COMP "LEDs<13>" LOCATE = SITE "L22" LEVEL 1;
COMP "LEDs<22>" LOCATE = SITE "N2" LEVEL 1;
COMP "LEDs<14>" LOCATE = SITE "L21" LEVEL 1;
COMP "LEDs<23>" LOCATE = SITE "N3" LEVEL 1;
COMP "LEDs<15>" LOCATE = SITE "C22" LEVEL 1;
COMP "LEDs<16>" LOCATE = SITE "M2" LEVEL 1;
COMP "LEDs<17>" LOCATE = SITE "M3" LEVEL 1;
COMP "LEDs<18>" LOCATE = SITE "M4" LEVEL 1;
COMP "LEDs<19>" LOCATE = SITE "M5" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "L2" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "H2" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "T3" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "U2" LEVEL 1;
COMP "LEDs<4>" LOCATE = SITE "W2" LEVEL 1;
COMP "LEDs<5>" LOCATE = SITE "W3" LEVEL 1;
COMP "LEDs<6>" LOCATE = SITE "W4" LEVEL 1;
COMP "LEDs<7>" LOCATE = SITE "Y1" LEVEL 1;
COMP "LEDs<8>" LOCATE = SITE "Y12" LEVEL 1;
COMP "LEDs<9>" LOCATE = SITE "V12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

